html,
body, {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
    background-image: url("../images/upfeathers.png");
    background-color: #af9696;
    text-align: center;
}

/* Header styling */
.header h1 {
    padding: 80px !important;
    background-color: #640000;
    border-bottom: 3px solid #af7d32;
    border-top: 3px solid #af7d32;
    color: #af9664;
    font-size: 80px !important;
}
/* Color Palette */
/* 
    color: #191919;
    color: #191900;
    color: #af7d32;
    color: #e1e1e1;
    color: #4b6464;
    color: #7d644b;
    color: #afafaf;
    color: #af9664;
    color: #647d7d;
    color: #c8c8c8;
    color: #969696;
    color: #967d64;
    color: #fafafa;
    color: #966400;
    color: #966419;
    color: #7d4b00;
    color: #7d4b19;
    color: #c81919;
    color: #c8af7d;
    color: #640000; */

/* Input styling */
.input-group {
    width: 400px;
    padding: 10px;
    margin: 0 auto 1em auto;
}

/* Image Thumbnail Styling for Landing Page*/
.landingPage img {
    border: 1px solid #ddd; 
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

/* Button styling */
.btn {
    background-color: #c8af7d;
    color: #640000;
}

.btn:hover {
    background-color: #af7d32;
    color: #640000;
}

/* Search Tabs */
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

/* Styling for species page */
.speciesMap .fa-volume-up {
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.speciesMap img {
    max-width: 100%;
    height: auto; 
}

.speciesMap .birdSelect {
    padding-top: 40px;
    padding-left: 20px;
    border-radius: 5px;
}

.speciesMap #speciesChart {
    padding-top: 40px;
    padding-right: 20px;
}

/* Styling for regional page */
.regionMap {
    text-align: center;
}

.regionMap img {
    max-width: 100%;
    height: auto; 
    padding: 10px;
    border-radius: 5px;
}

.regionMap .gallery {
    max-width: 150px;
    border-radius: 5px;
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px;

}

.regionMap #birdImgs {
    background-color: #af7d3286;
}

.regionMap .gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
    left: 50%;
}

.regionMap .desc {
    padding-bottom: 5px;
}
.regionMap ul {
    list-style: none;
}

/* Styling for distribution page */

/* Styling for map */
.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
}
.state:hover{
    fill-opacity:0.5;
}
#tooltip {   
    position: absolute;           
    text-align: center;
    padding: 20px;             
    margin: 10px;
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none;         
}
#tooltip h4{
    margin:0;
    font-size:14px;
}
#tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#tooltip table{
    table-layout:fixed;
}
#tooltip tr td{
    padding:0;
    margin:0;
}
#tooltip tr td:nth-child(1){
    width:50px;
}
#tooltip tr td:nth-child(2){
    text-align:center;
}
